<a href="https://colab.research.google.com/github/rpasquini/econometria/blob/main/Ejemplos_Testeo_de_Hip%C3%B3tesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import statsmodels.api as sm

In [ ]:
def regress(lista, data):
  """ 
  Funcion que realiza la regresion OLS
  La primera variable de la lista es la dependiente, el resto son las explicativas
  data es la base de datos
  """
  datos=data[lista]
  # el metodo dropna() me permite eliminar las filas que tienen algun valor missing
  datos=datos.dropna()
  Y=datos[lista[0]]
  X=datos[lista[1:]]
  X=sm.add_constant(X)
  modelo=sm.OLS(Y,X)
  resultados=modelo.fit()
  print(resultados.summary())
  return resultados

# Ejemplo Bitcoin versus Litecoin

In [5]:
df=pd.read_excel("https://github.com/rpasquini/econometria/blob/main/datos/BTCvsLTC.xlsx?raw=true")
df

          Date         LTC           BTC
0   2022-04-17  109.042786  39716.953125
1   2022-04-18  111.226143  40826.214844
2   2022-04-19  113.812088  41502.750000
3   2022-04-20  111.979691  41374.378906
4   2022-04-21  106.997986  40527.363281
..         ...         ...           ...
361 2023-04-13   94.259499  30399.066406
362 2023-04-14   96.451973  30485.699219
363 2023-04-15   96.868210  30318.496094
364 2023-04-16  100.267448  30315.355469
365 2023-04-17   99.056030  29463.451172

[366 rows x 3 columns]

# Ejemplo Campus

enrol                            total enrollment \\
priv                             =1 if private college  \\
police                           employed officers \\
crime                            total campus crimes \\
lcrime                           log(crime) \\
lenroll                          log(enroll) \\
lpolice                          log(police) \\

Fuente: Wooldridge

In [6]:
df2=pd.read_excel("https://github.com/rpasquini/econometria/blob/main/datos/campus.xls?raw=true")
df2

    enrol  priv  police  crime    lcrime   lenroll   lpolice
0   21836     0      24    446  6.100319  9.991315  3.178054
1    6485     0      13      1  0.000000  8.777247  2.564949
2    2123     0       3      1  0.000000  7.660585  1.098612
3    8240     0      17    121  4.795791  9.016756  2.833213
4   19793     0      30    470  6.152733  9.893084  3.401197
..    ...   ...     ...    ...       ...       ...       ...
92   3176     0       4     56  4.025352  8.063377  1.386294
93  10992     0       9    187  5.231109  9.304923  2.197225
94   5034     1       7     15  2.708050  8.523971  1.945910
95   7710     1       5    426  6.054440  8.950274  1.609438
96  20693     0      32    616  6.423247  9.937551  3.465736

[97 rows x 7 columns]